<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
</head>
<body>
<!-- form is submitted {{success}} -->
    <!-- <form action="{% url 'manage' %}" method="POST"> -->
    <!-- {% csrf_token %} -->
        <!-- <input type="text" name="Event_name">
        <input type="text" name="Event_sponsor">
        <input type="text" name="Event_category">
        <input type="text" name=" Event_Desc">
        <input type="number" name="Event_price">
        <input type="text" name="Event_venue">
        <input type="datetime" name="Event_datetime">
        <input type="image" name="Event_image">
        <input type="submit" value="submit"> -->
    <!-- </form> -->



hello
</body>
</html>